.name {
  display: inline-block;
  padding: 15px;
  width: 182px;
  margin-bottom: 10px;
  border-color: lightgray;
  border-radius: 10px;
  border: solid;
  border-width: 1px;
}
.email {
  display: block;
  padding: 15px;
  width: 400px;
  margin-bottom: 10px;
  border-color: lightgray;
  border-radius: 10px;
  border: solid;
  border-width: 1px;
}
.button{
  display: block;
  padding: 15px;
  width: 432px;
  background-color: rgb(36, 123, 199);
  color: white;
  border: none;
  border-radius: 10px;
}

.request {
  font-size: 40px;
  font-family: arial;
}
.enter {
  display: block;
  background-color: rgb(252, 248, 245);
  border: none;
  margin-bottom: 10px;
  height: 30px;
  width: 400px;
  padding: 15px;
  font-size: 15px;
}
.now {
  margin-top: 20px;
  background-color: black;
  color: white;
  border: none;
  padding: 15px;
  margin-right: 15px;
}
.later {
  background-color: lightgray;
  color: black;
  border: none;
  padding: 15px;
}